body {
    text-align: center;
    font-size: 16px;
    color: #fff;
    background-color: #61122f;
    font-family: 'Oxygen', sans-serif;
}
/* navigation*/
#header-nav {
  background-color: rgb(230, 102, 102);
  border-radius: 3px;
  border: 0;
}

.navbar-header {
  width: 100%;
}
.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 {
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border:  1px solid #61122f;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
display: none;
}

#nav-list a {
  color: #951c49;
  text-align: center;
}

#nav-list a:hover {
  background: #E7E7E7;
}

#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border:  1px solid #61122f;
}

/* end navigation*/

/* title-menu*/

#title-menu {
  font-family: 'Lora', serif;
  color: rgb(0, 0, 0);
  margin: 20px auto 30px;
  font-size: 2.9em;
  text-shadow: 1px 3px 1px #3d3d3d;
  }
.menu-details {
  color: rgb(230, 102, 102);
  background: rgb(50, 50, 50);
  padding: 20px 20px;
  border: 2px solid #3f0c1f;
  border-radius: 10px;
  margin-bottom: 30px;
}

}
/********** Large devices only **********/
@media (min-width: 1200px) {
#nav-list, .nav, .navbar-right, .navbar-nav {
  display: none;
}
.menu-details {
  margin-bottom: 30px;
}
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  #nav-list {
    display: none;
  }
  .menu-details {
    margin-bottom: 20px;
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  #nav-list {
    display: none;
  }
  .menu-details {
    margin-bottom: 20px;
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
#nav-list {
  display: block;
}
h1 {
  padding-top: 5px;
}

ul {
  font-family: 'Lora', serif;
  background-color: rgb(230, 102, 102);
  border: 1px solid rgb(230, 102, 102);
  border-radius: 3px;
  font-size: 1.9em;
  text-shadow: 1px 2px 1px #c26666;
}
.navbar-header {
  margin-bottom: 0;
}
.navbar-header {
  width: 98vw;
}

.navbar {
  margin-bottom: 0;
}
}

/***super extra small devices***/
@media (max-width: 479px)  {

}
